@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Poppins', sans-serif;

  color: aliceblue;
  background-color: var(--background);


  --background: #1E252B;
  --call-to-action: #FF6E30;
  --text: #ffffff;
  --input-fill: #283036;
  --font-size-l: 22px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 28px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 50px;
  --font-size-xxxxl: 67px;

  --font-family-poppins: 'Poppins', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


