@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;

    color: #ffffff;
    background-color: var(--background);

    --background: #1e252b;
    --call-to-action: #ff6e30;
    --text: #ffffff;
    --text-white-80: rgba(255, 255, 255, 0.8);
    --input-fill: #283036;
    --subhead-tool: rgba(255, 165, 55, 0.55);
    --tool-descrition: rgba(255, 255, 255, 0.55);
    --brand-section: rgba(44, 53, 61, 0.2);
    --tool-hover-template: radial-gradient(circle farthest-side at 93% 5%, rgba(255, 165, 55, 0.2) 0%, rgba(40, 48, 54, 1) 30%);
    --button-load-more-border: rgba(255, 255, 255, 0.1);
    --font-size-l: 22px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --font-size-xl: 28px;
    --font-size-xxl: 48px;
    --font-size-xxxl: 50px;
    --font-size-xxxxl: 67px;

    --font-family-poppins: 'Poppins', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
